body{
    background-image: url("Images/h1.jpg");
    
}
.header-1{
    position: relative;
    background-color: #FFE4C4;
    width: 100%;
    height: 100px;
    opacity: 0.8;
}
.register-1{
    position: relative;
    top: 30px;
    left: 1500px;
    font-size: 30px;
    color: black;
    font-family: Andale Mono, monospace;
    text-decoration: none !important;
}
.register-1:hover{
    color: white;
    

}

.about-1{
    position: relative;
    top: 30px;
    left: 1550px;
    font-size: 30px;
    color: black;
    font-family: Andale Mono, monospace;
    text-decoration: none !important;
}
.health-lifestyle{
    position: fixed;
    top: 0px;
    left: 130px;
    color: #00008B;
    font-size: 60px;
    font-family: "Arial Black", Gadget, sans-serif;
}
.fa-heartbeat{
    position: fixed;
    top: 10px;
    left: 30px;
    color: #DC143C;

}
#mainTxt{
    position: absolute;
    top: 350px;
    left: 1250px;
    z-index: 2;
    text-align: center;
    font-size: 40px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: #DC143C;
}
